.bg-danger {
    background-color: #E6563B;
    /*trying to create circles that move with the browser*/
    /*height: 3px;*/
    /*width: 3px;*/
}

. bg-warning {
    background-color: #DEA03D;
}

. bg-success {
    background-color: #7CB06C;
}

. bg-info{
    ##00ABA9
}
/*mobile version*/
@media only screen and (max-width: 576px) {
    body {
        background-color: lightgrey;
    }

}

@media only screen and (max-width: 768px) {
    body {
        background-color: blue;
    }
}

@media only screen and (max-width: 992px) {
    body {
        background-color: red;
    }
}

@media only screen and (max-width: 1200px) {
    body {
        background-color: green;
    }
}